.popup {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(to top, rgba($color-black, 0.4), rgba($color-black, 0.4));
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s 0s, visibility 0s 0.3s;
  z-index: 100;

  &.is-visible {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s 0s, visibility 0s 0s;
  }

  &-container {
    position: relative;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    background: transparent;
    border-radius: 0.25em 0.25em 0.4em 0.4em;
    text-align: center;
    box-shadow: 0 0 20px rgba($color-black, 0.2);
    transform: translateY(-40px);
    -webkit-backface-visibility: hidden;
    transition-property: transform;
    transition-duration: 0.3s;

    .is-visible & {
      transform: translateY(50%);

      @include media(">=sm") {
        transform: translateY(20%);
      }
    }

    video {
      width: 100%;
    }
  }

  &-close {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;

    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 12px;
      width: 20px;
      height: 3px;
      background-color: $color-white;
    }

    &::before {
      transform: rotate(45deg);
      left: 5px;
    }

    &::after {
      transform: rotate(-45deg);
      right: 5px;
    }
  }
}
