.d-grid {
  display: grid !important;
}

.grid-1 {
  grid-template-columns: repeat(1, 1fr);
}

.grid-2 {
  grid-template-columns: repeat(2, 1fr);
}

.grid-3 {
  grid-template-columns: repeat(3, 1fr);
}

.grid-4 {
  grid-template-columns: repeat(4, 1fr);
}

.grid-5 {
  grid-template-columns: repeat(5, 1fr);
}

.grid-6 {
  grid-template-columns: repeat(6, 1fr);
}

.grid-gap-1 {
  grid-gap: rem(15);
}

.grid-gap-2 {
  grid-gap: rem(24);
}

.grid-gap-3 {
  grid-gap: rem(36);
}

.grid-gap-4 {
  grid-gap: rem(60);
}

.grid-gap-5 {
  grid-gap: rem(90);
}

.grid-center {
  justify-items: center;
}

@include media(">=xl") {
  .d-xl-grid {
    display: grid;
  }

  .grid-xl-2 {
    grid-template-columns: repeat(2, 1fr);
  }

  .grid-xl-3 {
    grid-template-columns: repeat(3, 1fr);
  }

  .grid-xl-4 {
    grid-template-columns: repeat(4, 1fr);
  }

  .grid-xl-5 {
    grid-template-columns: repeat(5, 1fr);
  }

  .grid-xl-6 {
    grid-template-columns: repeat(6, 1fr);
  }
}

@include media(">=lg") {
  .d-lg-grid {
    display: grid;
  }

  .grid-lg-2 {
    grid-template-columns: repeat(2, 1fr);
  }

  .grid-lg-3 {
    grid-template-columns: repeat(3, 1fr);
  }

  .grid-lg-4 {
    grid-template-columns: repeat(4, 1fr);
  }

  .grid-lg-5 {
    grid-template-columns: repeat(5, 1fr);
  }

  .grid-lg-6 {
    grid-template-columns: repeat(6, 1fr);
  }
}

@include media(">=md") {
  .d-md-grid {
    display: grid;
  }

  .grid-md-2 {
    grid-template-columns: repeat(2, 1fr);
  }

  .grid-md-3 {
    grid-template-columns: repeat(3, 1fr);
  }

  .grid-md-4 {
    grid-template-columns: repeat(4, 1fr);
  }

  .grid-md-5 {
    grid-template-columns: repeat(5, 1fr);
  }

  .grid-md-6 {
    grid-template-columns: repeat(6, 1fr);
  }
}

@include media(">=sm") {
  .d-sm-grid {
    display: grid;
  }

  .grid-sm-2 {
    grid-template-columns: repeat(2, 1fr);
  }

  .grid-sm-3 {
    grid-template-columns: repeat(3, 1fr);
  }

  .grid-sm-4 {
    grid-template-columns: repeat(4, 1fr);
  }

  .grid-sm-5 {
    grid-template-columns: repeat(5, 1fr);
  }

  .grid-sm-6 {
    grid-template-columns: repeat(6, 1fr);
  }
}
